<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/Content/img/favcion.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" media="all" />
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/slicknav.min.css" media="all" />
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/icofont.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/icofont.min.css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/owl.carousel.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/magnific-popup.css">
    <!-- Main style CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" media="all" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css" media="all" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Page loader -->
    <div id="preloader"></div>
    <!-- header section start -->
    <header class="header">
        <div class="container">
            <div class="header-area">
                <div class="logo">
                    <a href="~/Home/Index"><img src="~/Content/img/logo.png" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <form action="#">
                        <select>
                            <option value="Movies">Movies</option>
                            <option value="Movies">Movies</option>
                            <option value="Movies">Movies</option>
                        </select>
                        <input type="text" />
                        <button>
                            <i class="fa fa-search" style="font-size:15px;"></i>
                        </button>
                    </form>
                    <ul>
                        <li><a href="#">Welcome @Session["username"]</a></li>
                        <li><a href="/movies/create">Add film<a></li>
                        <li><a href="/Login/Logout">Logout</a></li>
                    </ul>
                </div>
                <div class="menu-area">
                    <div class="responsive-menu"></div>
                    <div class="mainmenu">
                        <ul id="primary-menu">
                            <li><a class="active" href="~/Home/Index">Home</a></li>
                            <li><a href="~/Home/CategoriesFilter">Genres</a></li>
                            <li>
                                <a href="#">Pages </a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="movie-details.html">Movie Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->

    @RenderBody()
    <!-- footer section start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <img src="~/Content/img/logo.png" alt="about" />
                        <p>7th Harley Place, London W1G 8LZ United Kingdom</p>
                        <h6><span>Call us: </span>(+880) 111 222 3456</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Account</h4>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Watchlist</a></li>
                            <li><a href="#">Collections</a></li>
                            <li><a href="#">User Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Newsletter</h4>
                        <p>Subscribe to our newsletter system now to get latest news from us.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email.." />
                            <button>SUBSCRIBE NOW</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        <div class="copyright-content">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <div class="copyright-content">
                            <a href="#" class="scrollToTop">
                                Back to top<i class="icofont icofont-arrow-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer section end -->
    <!-- jquery main JS -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Slick nav JS -->
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <!-- owl carousel JS -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JS -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <!-- main JS -->
    <script src="~/Scripts/main.js"></script>
</body>

</html>